body {
  padding-top: 50px;
}

* {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

input[type='text'] {
    -webkit-touch-callout: text;
    -webkit-user-select: text;
    -khtml-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
}

.unblocknf-content {
  padding: 75px 15px;
  text-align: center;
}

.navbar-inverse {
	background-color: #B92020;
	border-color: #B92020;
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
	border-color: #B92020;
}

.navbar-inverse .navbar-toggle, .navbar-inverse .navbar-toggle:focus {
	border-color: #B92020;
	background-color: #D04C4C;
}

.navbar-inverse .navbar-toggle:hover {
	border-color: #B92020;
	background-color: #9A0707;
}

.navbar-inverse .navbar-nav>li>a {
	color: white;
	line-height: 70px;
}

.navbar-inverse .navbar-nav>li>a:hover {
	color: #ddd;
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
	background-color: #941212;
	color:white;
}

.navbar-inverse .navbar-brand {
	color: white;
	font-weight: bold;
	padding: 0 15px;
}

.navbar-brand>img, .container>.navbar-header {
	height:100px;
}

.list {
	margin:0 auto;
	width:40%;
}

.list td {
	margin:0;
	padding:8px;
	width:10%;
	text-align: left;
	font-size: 1.2em;
}

.list td:first-child {
	width:90%;
}

.devices td {
	cursor:pointer;
}

.deviceedit {
	width: 100%;
}

.deviceedit td:first-child, .deviceedit td {
	width:auto;
	padding-left: 0;
	padding-right: 0;
}

.deviceedit td.hostipaddr {
	width:100px;
	font-size: 10pt;
	text-align:center;
}

.deviceedit td.removebutton {
	width:40px;
	cursor: pointer;
	text-align: center;
}

fieldset {
	padding-right: 15px;
}

fieldset > div {
	text-align: left;
}

fieldset label {
	width: 190px;
	text-align: right;
	padding-right: 10px;
}

fieldset div.input {
	display: flex;
	margin: 6px 0;
}

fieldset input[type='text'] {
	flex: 1;
}

fieldset input#hostip {
	flex: none;
	width: 120px;
}

fieldset button {
	margin:10px auto;
}

.busyRow td {
	color: #ccc;
	cursor: wait;
}

hr { display:none; }

.col-xs-12, .col-sm-6 {
	padding-left: 5px;
	padding-right: 5px;
}

@media only screen and (-webkit-max-device-pixel-ratio: 1.2), only screen and (-o-max-device-pixel-ratio: 12/10), only screen and (max-resolution: 96dpi) {
	@media (max-width: 480px) {
		.navbar-inverse .navbar-nav>li>a {
			line-height: inherit;
		}
	}

	@media (max-width: 960px) {
		.list {
			width:100%;
		}

		hr { display:block; }
	}
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.3), only screen and (-o-min-device-pixel-ratio: 13/10), only screen and (min-resolution: 120dpi) {
	@media (max-width: 720px) {
		.navbar-inverse .navbar-nav>li>a {
			line-height: inherit;
		}
	}

	.list {
		width:100%;
	}

	hr { display:block; }
}

.loader {
	margin: 13px auto;
	width: 70px;
	text-align: center;
}

.loader > div {
	width: 18px;
	height: 18px;
	background-color: #E41515;

	border-radius: 100%;
	display: inline-block;
	-webkit-animation: sk-bouncedelay 1.0s infinite ease-in-out both;
	animation: sk-bouncedelay 1.0s infinite ease-in-out both;
}

.loader .bounce1 {
	-webkit-animation-delay: -0.32s;
	animation-delay: -0.32s;
}

.loader .bounce2 {
	-webkit-animation-delay: -0.16s;
	animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
	0%, 80%, 100% { -webkit-transform: scale(0) }
	40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
	0%, 80%, 100% { 
		-webkit-transform: scale(0.40);
		transform: scale(0.40);
		} 40% { 
			-webkit-transform: scale(1.0);
			transform: scale(1.0);
		}
	}